[submodule "vishalchovatiya/public"]
	path = vishalchovatiya/public
	url = https://github.com/vishalchovatiya/vishalchovatiya.github.io.git
[submodule "vishalchovatiya/themes/hugo-coder"]
	path = vishalchovatiya/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
